* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: 'Nova Round', cursive;
}

header {
    padding: 40px 50px;
}

header .logo {
    float: left;
}

header .menu {
    float: right;
}

header .menu ul li {
    display: inline-block;
    margin: 0 20px;
}

header .menu ul li:last-child {
    margin-right: 0;
}

header .menu ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 0.5s;
}

header .menu ul li a {
    color: #fff;
}

header .menu ul li a:hover {
    color: #fff700;
}

/* HEADER BUTTON */
header .menu ul li.btn a {
    background-color: #fff700;
    color: #000;
    padding: 14px 27px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header .menu ul li.btn a:hover {
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}